<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>fiqueiPobre</title>
<meta th:insert="~{fragments/headfrag :: head}"></meta>
</head>
<body style="margin: 0px">
	
	<div style="height: 7.2vh" th:insert="~{fragments/navigation :: menu}"></div>
	
	<main style="text-align: center; background-color: black; height: 85.6vh;
	display: flex; justify-content: center; align-items: center">
		<img style="border: 2px solid black;" th:src="@{imagens/fiquepobre.png}"/>
	</main>
	
	<div style="height: 7.2vh" th:replace="~{fragments/footerfrag :: foot}"></div>
</body>
</html>